.rich_media_tool
    font-size: 15px
    padding-top: 32px
    overflow: hidden
    .meta_primary
        margin-right: 16px
        float: left

.tips_global_primary
    color: rgba(0,0,0,0.3)

.weui-flex
    display: -webkit-box
    display: -webkit-flex
    display: flex

.weui-flex__item
    -webkit-box-flex: 1
    -webkit-flex: 1
    flex: 1
